@charset "UTF-8";
/*reset*/
* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
form {
  display: inline;
}
body,
button,
input,
select,
textarea {
  font: 14px/1.5 Helvetica, "lantinghei sc", "Microsoft Yahei", tahoma, arial, "\5b8b\4f53", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #98A6C7;
  cursor: pointer;
  white-space: nowrap;
}
a:hover {
  color: #23A2E4;
}
/*a:hover { text-decoration: underline; }*/
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 14px;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
  font-weight: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  display: block;
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
}
body {
  color: #FFF;
  background: #021422 url(../img/bg.jpg) no-repeat 50% 100%;
  background-size: cover;
}
template {
  display: none;
}
/**/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #4C637B;
  border-radius: 3px;
}
/**/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/**/
.clearfix,
.col-group {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.col-group:before,
.col-group:after {
  display: table;
  content: "";
}
.clearfix:after,
.col-group:after,
.clear {
  clear: both;
}
.undis,
.btn.undis {
  display: none;
}
.col-group {
  margin-right: -5px;
  margin-left: -5px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  box-sizing: border-box;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
.col-group2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.col-group2 .col,
.col-group2 .col-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.col-group2 .col-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.col-group2 .col-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
/**/
.wrapper {
  width: 1370px;
  margin: 0 auto;
  position: relative;
}
/**/
@font-face {
  font-family: "iconfont";
  src: url('../img/font/iconfont.eot');
  /* IE9*/
  src: url('../img/font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../img/font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../img/font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../img/font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  line-height: 1;
  font-size: 1.2em;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-page-prev:before {
  content: "\e607";
}
.icon-page-next:before {
  content: "\e609";
}
.icon-page-end:before {
  content: "\e60a";
}
.icon-page-start:before {
  content: "\e60b";
}
.icon-right:before {
  content: "\e60c";
}
.icon-search:before {
  content: "\e600";
}
.icon-down:before {
  content: "\e604";
}
.icon-up:before {
  content: "\e601";
}
.icon-back:before {
  content: "\e60d";
}
.icon-plus:before {
  content: "\e60f";
}
.icon-delete:before {
  content: "\e606";
}
.icon-download:before {
  content: "\e60e";
}
.icon-fangda:before {
  content: "\e611";
}
.icon-cancel:before {
  content: "\e602";
}
.icon-avatar:before {
  content: "\e608";
}
.icon-down1:before {
  content: "\e603";
}
.icon-2:before {
  content: "\e605";
}
/**/
.icon {
  display: inline-block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.icon-hammer {
  background-image: url(../img/icon/hammer.png);
  width: 20px;
  height: 20px;
}
/**/
input[type=checkbox] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.select {
  padding: 0 10px;
  border: none;
  outline: none;
  color: #FFF;
  height: 36px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0;
  min-width: 136px;
  position: relative;
  vertical-align: middle;
  margin: 1px;
}
.select.select-block {
  width: 100%;
}
.select[multiple] {
  background: #F0F3F6;
  color: #111;
  padding: 10px;
}
.select option {
  color: #111;
}
.ipt {
  height: 36px;
  padding: 5px 14px;
  color: #FFF;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  vertical-align: middle;
}
.ipt.ipt-block {
  width: 100%;
}
.ipt.ipt-sm {
  width: 160px;
  height: 24px;
  padding: 2px 8px;
}
.ipt.ipt-s {
  width: 80px;
}
.ipt.ipt-m {
  width: 200px;
}
.ipt.ipt-l {
  width: 300px;
}
.btn {
  display: inline-block;
  height: 36px;
  line-height: 26px;
  padding: 5px 14px;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
  background: #28A6E9;
  background-image: -webkit-linear-gradient(top, #28A6E9, #0683C6);
  background-image: linear-gradient(to bottom, #28A6E9, #0683C6);
}
.btn:hover {
  color: #FFF;
}
.btn.btn-block {
  width: 100%;
}
.btn.btn-o {
  border-radius: 20px;
}
.btn.btn-s {
  height: 24px;
  padding: 0 10px;
  line-height: 24px;
  font-size: 12px;
}
.btn.btn-green {
  background: #29BB85;
  background-image: -webkit-linear-gradient(top, #29BB85, #0FA26C);
  background-image: linear-gradient(to bottom, #29BB85, #0FA26C);
}
.btn.btn-brown {
  background: #8D4341;
}
.btn.btn-gray {
  background: gray;
}
.label {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.label + .label {
  margin-left: 10px;
}
.label input {
  position: absolute;
  margin: 4px 0 0 -18px;
}
/**/
.color-red {
  color: #FF611B;
}
.color-blue {
  color: #15BBF8;
}
.color-green {
  color: #0AD27A;
}
.color-gray {
  color: #787878;
}
.color-gray-light {
  color: #BBBDC0;
}
.color-orange {
  color: #FF6000;
}
.color-white {
  color: #FFF;
}
/**/
.text-muted {
  opacity: .7;
}
.text-tips {
  color: #9EA0A2;
}
.text-default {
  color: inherit;
}
.text-italic {
  font-style: italic;
}
.text-bold {
  font-weight: bold;
}
.text-s {
  font-size: 12px;
}
.text-n {
  font-size: 14px;
}
.text-m {
  font-size: 16px;
}
.text-l {
  font-size: 18px;
}
.text-xl {
  font-size: 20px;
}
.text-xxl {
  font-size: 24px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-middle {
  vertical-align: middle;
}
.text-bottom {
  vertical-align: bottom;
}
.text-nowrap {
  white-space: nowrap;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fm {
  overflow: hidden;
  *zoom: 1;
}
.mg-s {
  margin: 5px 0;
}
.mg {
  margin: 10px 0;
}
.mg-m {
  margin: 15px 0;
}
.mg-l {
  margin: 20px 0;
}
.mgt-s {
  margin-top: 5px;
}
.mgt {
  margin-top: 10px;
}
.mgt-m {
  margin-top: 15px;
}
.mgt-l {
  margin-top: 20px;
}
.mgb-s {
  margin-bottom: 5px;
}
.mgb {
  margin-bottom: 10px;
}
.mgb-m {
  margin-bottom: 15px;
}
.mgb-l {
  margin-bottom: 20px;
}
.mgr-s {
  margin-right: 5px;
}
.mgr {
  margin-right: 10px;
}
.mgr-m {
  margin-right: 15px;
}
.mgr-l {
  margin-right: 20px;
}
.mgl-s {
  margin-left: 5px;
}
.mgl {
  margin-left: 10px;
}
.mgl-m {
  margin-left: 15px;
}
.mgl-l {
  margin-left: 20px;
}
.mg-0 {
  margin: 0 !important;
}
.mg-center {
  margin-left: auto;
  margin-right: auto;
}
.pd-l {
  padding: 20px;
}
.pd-m {
  padding: 15px;
}
.pd-0 {
  padding: 0 !important;
}
.pd {
  padding: 10px;
}
.pd-s {
  padding: 5px;
}
.pd-v-l {
  padding: 20px 0;
}
.pd-v-m {
  padding: 15px 0;
}
.pd-v {
  padding: 10px 0;
}
.pd-v-s {
  padding: 5px 0;
}
.pdl-l {
  padding-left: 20px;
}
.pdl-m {
  padding-left: 15px;
}
.pdl {
  padding-left: 10px;
}
.pdl-s {
  padding-left: 5px;
}
.pdt-l {
  padding-top: 20px;
}
.pdt-m {
  padding-top: 15px;
}
.pdt {
  padding-top: 10px;
}
.pdt-s {
  padding-top: 5px;
}
.pdr-l {
  padding-right: 20px;
}
.pdr-m {
  padding-right: 15px;
}
.pdr {
  padding-right: 10px;
}
.pdr-s {
  padding-right: 5px;
}
.pdb-l {
  padding-bottom: 20px;
}
.pdb-m {
  padding-bottom: 15px;
}
.pdb {
  padding-bottom: 10px;
}
.pdb-s {
  padding-bottom: 5px;
}
.block {
  display: block;
}
.underline {
  text-decoration: underline;
}
.relative {
  position: relative;
}
.point {
  cursor: pointer;
}
.pos-lt {
  position: absolute;
  top: 0;
  left: 0;
}
.pos-tr {
  position: absolute;
  top: 0;
  right: 0;
}
.pos-br {
  position: absolute;
  bottom: 0;
  right: 0;
}
.pos-r {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.hr {
  border-top: 1px solid #E1E1E1;
  height: 0;
  font-size: 0;
  margin: 10px 0;
}
.line {
  border-bottom: 1px solid #E1E1E1;
}
.line-l {
  border-left: 1px solid #495661;
}
.line-l2 {
  border-left: 1px solid #182937;
}
.overflow {
  overflow: auto;
}
/**/
.pagination {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.pagination li {
  display: inline-block;
}
.pagination li a {
  color: #B4B4B4;
}
.pagination li a.on {
  color: #787878;
}
/**/
.tab-wrap {
  font-size: 0;
}
.tab-wrap a {
  display: inline-block;
  width: 168px;
  height: 39px;
  line-height: 39px;
  font-size: 14px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  vertical-align: top;
  margin-right: 1px;
  color: #FFF;
}
.tab-wrap a.on {
  background: rgba(255, 255, 255, 0.15);
  height: 40px;
  font-weight: 700;
}
/**/
.table-list {
  width: 100%;
}
.table-list.table-list-center th,
.table-list.table-list-center td {
  text-align: center;
}
.table-list th,
.table-list td {
  padding: 8px;
}
.table-list thead {
  background: rgba(255, 255, 255, 0.1);
}
.table-list tbody tr {
  background: rgba(255, 255, 255, 0.05);
}
.table-list tbody tr:nth-child(2n) {
  background: rgba(255, 255, 255, 0.1);
}
.table-list tbody td {
  border: 1px solid #1A2C41;
  border-width: 1px 0 1px 1px;
}
.table-list tbody td:first-child {
  border-left: none;
}
/**/
.ac_results {
  padding: 0;
  border: 1px solid #344453;
  background-color: #172837;
  overflow: hidden;
  z-index: 99999;
}
.ac_results ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.ac_results li {
  margin: 0;
  padding: 5px 5px;
  cursor: default;
  display: block;
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
}
.ac_results .group {
  color: #666;
}
.ac_results i {
  font-size: 12px;
  color: #999;
  padding-left: 1em;
}
.ac_results .strong {
  font-weight: 700;
  color: #F60;
}
.ac_odd {
  background-color: #172837;
}
.ac_over {
  background-color: #4496DF;
  color: white;
}
.ac_over i {
  color: #EEE;
}
/**/
.dl-box {
  margin-bottom: 15px;
}
.dl-box.dl-box-red .dt {
  background: -webkit-linear-gradient(top, #563446 0%, #582B40 100%);
  background: linear-gradient(to bottom, #563446 0%, #582B40 100%);
}
.dl-box.dl-box-red a {
  color: #FF6C6C;
}
.dl-box.dl-box-red a:hover {
  color: #F00;
}
.dl-box a {
  color: #FFF;
}
.dl-box a:hover {
  color: #98A6C7;
}
.dl-box .dt {
  display: block;
  line-height: 36px;
  padding: 0 15px;
  background: #0C3F5C;
  background: -webkit-linear-gradient(top, #0C3F5C 0%, #013451 100%);
  background: linear-gradient(to bottom, #0C3F5C 0%, #013451 100%);
  position: relative;
}
.dl-box .dt:before {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  content: "\e60c";
  font-family: iconfont;
  line-height: 1;
}
.dl-box a.dt + a.dt {
  margin-top: 2px;
}
.dl-box a.dt:hover {
  color: #FFF;
  background: -webkit-linear-gradient(top, #26AAEF 0%, #0185C9 100%);
  background: linear-gradient(to bottom, #26AAEF 0%, #0185C9 100%);
}
.dl-box .dd {
  background: rgba(4, 136, 205, 0.1);
  padding: 10px 15px;
  margin-bottom: 1px;
  min-height: 100px;
  overflow: auto;
}
.dl-box .list {
  margin: 5px 0;
}
/**/
.dl-box2 .dt {
  background: rgba(215, 223, 241, 0.1);
  line-height: 40px;
  padding: 0 15px;
  position: relative;
}
.dl-box2 .dd {
  background: rgba(255, 255, 255, 0.05);
  margin-bottom: 1px;
}
/**/
.progress-wrap {
  font-size: 0;
  height: 4px;
}
.progress-wrap .progress {
  float: left;
  background: #25A9EE;
  height: 4px;
}
/**/
.dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: black;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.dialog-box {
  position: fixed;
  left: 50%;
  top: 45%;
  margin: -110px 0 0 -200px;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 1000;
  -webkit-animation: fadeIn 0.2s ease;
          animation: fadeIn 0.2s ease;
  color: #111;
}
.dialog-box .iframe {
  display: block;
  background: #FFF;
}
.dialog-box .title {
  height: 24px;
  line-height: 22px;
  border-bottom: 1px solid #CCC;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.dialog-box .dialog-wrap {
  padding: 10px 20px;
}
.dialog-box .dialog-loading {
  background: url(../img/loading.gif) no-repeat 50% 50%;
}
.dialog-box .btn-close {
  width: 32px;
  height: 32px;
  line-height: 1;
  font-size: 32px;
  font-weight: 100;
  text-align: center;
  color: #CCC;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 1000;
}
.dialog-box .btn-close:hover {
  color: #F00;
}
.dialog-box .ipt {
  background: #F0F3F6;
  color: #111;
}
/**/
.date_selector,
.date_selector * {
  width: auto;
  height: auto;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
.date_selector {
  background: #F2F2F2;
  color: #444;
  border: 1px solid #BBB;
  padding: 5px;
  margin: -1px 0 0 0;
  position: absolute;
  z-index: 100000;
  display: none;
  box-shadow: 0 8px 24px #666;
}
.date_selector_ieframe {
  position: absolute;
  z-index: 99999;
  display: none;
}
.date_selector .nav {
  width: 17.5em;
  /* 7 * 2.5em */
}
.date_selector .month_nav,
.date_selector .year_nav {
  margin: 0 0 3px 0;
  padding: 0;
  display: block;
  position: relative;
  text-align: center;
}
.date_selector .month_nav {
  float: left;
  width: 55%;
}
.date_selector .year_nav {
  float: right;
  width: 35%;
  margin-right: -8px;
  /* Compensates for cell borders */
}
.date_selector .month_name,
.date_selector .year_name {
  font-weight: bold;
  line-height: 20px;
}
.date_selector .button {
  display: block;
  position: absolute;
  top: 0;
  width: 18px;
  height: 18px;
  line-height: 17px;
  font-weight: bold;
  color: #003C78;
  text-align: center;
  font-size: 120%;
  overflow: hidden;
  border: 1px solid #F2F2F2;
}
.date_selector .button:hover,
.date_selector .button.hover {
  background: none;
  color: #003C78;
  cursor: pointer;
  border-color: #CCC;
}
.date_selector .prev {
  left: 0;
}
.date_selector .next {
  right: 0;
}
.date_selector table {
  border-spacing: 0;
  border-collapse: collapse;
  clear: both;
  width: 18em;
}
div.date_selector th,
div.date_selector td {
  width: 2.5em;
  height: 2em;
  padding: 0;
  text-align: center;
  color: black;
}
.date_selector td {
  border: 1px solid #CCC;
  line-height: 2em;
  text-align: center;
  white-space: nowrap;
  color: #003C78;
  background: white;
}
.date_selector td.today {
  background: #FFFEB3;
}
.date_selector td.unselected_month {
  color: #CCC;
}
.date_selector td.selectable_day {
  cursor: pointer;
}
.date_selector td.selected {
  background: #D8DFE5;
  font-weight: bold;
}
.date_selector td.selectable_day:hover,
.date_selector td.selectable_day.hover {
  background: #003C78;
  color: white;
}
.date_selector .time_selector {
  padding-top: 5px;
}
.date_selector .time_selector input {
  background: #FFF;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  padding: 2px 5px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #ABADB3;
  margin: 0 2px;
}
.date_selector .time_selector button {
  vertical-align: middle;
  background: #298BC8;
  color: #FFF;
  height: 26px;
  width: 36px;
  text-align: center;
  cursor: pointer;
}
/**/
.form-box {
  padding: 5px 0;
}
.form-box .form-tr {
  margin: 5px 0;
  min-height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.form-box .form-th {
  width: 120px;
  padding: 5px 10px;
}
.form-box .form-th.form-th-s {
  width: 80px;
}
.form-box .form-td {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/**/
.tree-list {
  background: #F0F3F6;
  height: 370px;
  overflow: auto;
  border-radius: 3px;
}
.tree-list li {
  position: relative;
}
.tree-list li em {
  color: #21A6E9;
}
.tree-list li > em {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  cursor: pointer;
}
.tree-list li > em:hover {
  background: #E8ECF1;
}
.tree-list li.fold > ul {
  display: block;
}
.tree-list li.on em {
  background: #29AEF1;
  color: #FFF;
}
.tree-list li li > em {
  padding-left: 40px;
}
.tree-list li li li > em {
  padding-left: 60px;
}
.tree-list li li li li > em {
  padding-left: 80px;
}
.tree-list li li li li li > em {
  padding-left: 100px;
  font-size: 12px;
  color: #1E1E1E;
}
.tree-list .empty-wrap {
  min-height: 400px;
}
/**/
.tree-list-2 li {
  border-bottom: 1px solid #E3E6E9;
}
/**/
.list-wrap {
  height: 65px;
}
.list-wrap .li {
  margin-top: 1px;
  background: rgba(255, 255, 255, 0.05);
  line-height: 32px;
  padding: 0 10px 0 14px;
  font-size: 12px;
}
.list-wrap .li .del {
  float: right;
  margin-top: 8px;
  cursor: pointer;
}
/**/
/* 登录 */
.login-wrap {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
  padding: 20px 50px;
  border: 2px solid #374455;
  border-radius: 5px;
}
.login-wrap .logo {
  background: url(../img/logo.png) no-repeat 50% 0;
  height: 74px;
  margin: 10px 0 30px 0;
}
.login-wrap .captcha {
  float: right;
  width: 92px;
  height: 36px;
}
.login-foot {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #5F5C63;
}
/**/
.header {
  height: 120px;
  padding-top: 25px;
}
.header .logo {
  background: url(../img/logo.png) no-repeat 0 0;
  width: 280px;
  height: 74px;
}
.header .right {
  position: absolute;
  top: 0;
  right: 0;
  color: #98A6C7;
}
.header .nav {
  display: inline-block;
  margin-right: 50px;
}
.header .nav li {
  position: relative;
  display: inline-block;
  padding: 0 10px;
}
.header .nav li:hover .sub {
  display: block;
}
.header .nav .sub {
  display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: 9;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 150px;
  line-height: 32px;
  text-align: center;
  padding-top: 16px;
}
.header .nav .sub:before {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  border: 8px dashed #1B2C3A;
  border-color: transparent transparent #1B2C3A transparent;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.header .nav .sub ul {
  padding: 4px;
  background: #1B2C3A;
}
.header .nav .sub li {
  display: block;
  padding: 0;
}
.header .nav .sub a {
  display: block;
  color: #FFF;
}
.header .nav .sub a:hover {
  background: #1E5B7E;
}
.header .user {
  display: inline-block;
}
.header .user .avatar {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #7C89A6;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 18px;
  margin-right: 10px;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #3A526D;
}
/**/
.page-wrap .page-tt {
  height: 40px;
}
.page-wrap .page-tt em {
  line-height: 36px;
  font-size: 16px;
}
.page-wrap .page-tt .tab {
  float: left;
}
.page-wrap .page-tt .tab a {
  display: inline-block;
  width: 180px;
  line-height: 39px;
  text-align: center;
  background: rgba(215, 223, 241, 0.05);
  color: #B9BCBE;
}
.page-wrap .page-tt .tab a.on {
  height: 40px;
  color: #FFF;
  background: rgba(215, 223, 241, 0.1);
}
.page-wrap .page-tt .back {
  display: inline-block;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.1);
  line-height: 38px;
  width: 88px;
  text-align: center;
  color: #FFF;
  margin-right: 10px;
}
.page-wrap .page-tt .crumb {
  color: #888C90;
}
.page-wrap .page-side {
  float: right;
  width: 192px;
  margin-left: 8px;
}
.page-wrap .page-main {
  overflow: hidden;
  padding: 15px;
  background: rgba(215, 223, 241, 0.1);
  margin-bottom: 20px;
}
.page-footer {
  text-align: center;
  margin: 20px 0;
  color: #787878;
}
/**/
.filter-tt .cdt {
  background: #2B3C4A;
  padding: 5px 10px;
  margin-right: 2px;
}
.filter-condition .dl {
/*
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
*/
  font-size: 12px;
  margin-top: 1px;
  border-bottom: 1px solid #344453;
  position: relative;
}
.filter-condition .dl:after{ content: ""; clear:both; display: block;}
.filter-condition .dl:first-child {
  border-top: 1px solid #344453;
}
.filter-condition .dt {
  width: 108px;
  padding: 8px 10px;
  background: #344453;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
}
.filter-condition .dd {
/*
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
*/
  display: inline-block;
  font-size: 0;
  margin-left: 108px;
}
.filter-condition .condition {
  display: inline-block;
  min-width: 155px;
  line-height: 24px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}
.filter-content {
  margin-top: 10px;
}
.filter-content .tab {
  height: 40px;
  border-bottom: 1px solid #324251;
}
.filter-content .tab .order {
  color: #FFF;
  padding: 5px 10px;
  display: inline-block;
  height: 40px;
  cursor: pointer;
}
.filter-content .tab .order.on {
  border-bottom: 4px solid #FFF;
}
.filter-content .content {
  margin-bottom: 30px;
}
.filter-content .content .row {
  height: 140px;
  background: #1B2C3A;
  margin-bottom: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4px;
}
.filter-content .content .row:hover {
  border-left: 4px solid #1782BB;
  background: #183549;
  padding-left: 0;
}
.filter-content .content .avatar {
  width: 90px;
  text-align: center;
}
.filter-content .content .info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.filter-content .content .info .name {
  font-size: 18px;
}
.filter-content .content .col {
  width: 120px;
  text-align: center;
}
.filter-content .content .file-count {
  padding: 8px 10px;
  border-radius: 20px;
  background: #344453;
}
/**/
.search-list {
  margin-bottom: 20px;
}
.search-list .li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px 15px 19px;
  height: 200px;
  background: rgba(215, 223, 241, 0.02);
  margin-bottom: 1px;
}
.search-list .li:hover {
  border-left: 4px solid #1782BB;
  padding-left: 15px;
  background: #183549;
}
.search-list .li .name {
  font-size: 18px;
  color: #25A9EE;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-list .li .tag {
  font-size: 12px;
  padding: 3px 10px;
  background: #1A5070;
}
.search-list .li .intro {
  color: #CED0D1;
}
.search-list .li .col-1 {
  width: 30px;
}
.search-list .li .col-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 20px;
}
.search-list .li .col-3 {
  height: 100%;
  width: 110px;
  border-left: 1px solid #344453;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.search-dl {
  margin: 20px 0;
}
.search-dl .dt {
  height: 36px;
  line-height: 36px;
  font-size: 0;
}
.search-dl .dt em {
  display: inline-block;
  height: 36px;
  background: #19364A;
  border-left: 3px solid #25A9EE;
  padding: 0 15px;
  font-size: 16px;
}
.search-dl .dt:after {
  content: "";
  display: inline-block;
  vertical-align: top;
  border: 18px dashed transparent;
  border-left-color: #19364A;
  border-bottom-color: #19364A;
}
.search-dl .dd {
  padding: 15px;
  border: 1px solid #19364A;
  background: rgba(215, 223, 241, 0.05);
}
/**/
.doc-details .title {
  text-align: center;
  font-size: 20px;
  color: #25A9EE;
  margin: 10px 0;
}
.doc-details .title-sub {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
}
.doc-details .doc-meta {
  background: rgba(215, 223, 241, 0.05);
  padding: 10px 15px;
  border: 1px solid #2A3B4A;
  margin: 10px 0;
}
.doc-details .doc-meta .tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
}
.doc-details .doc-meta .th {
  width: 130px;
  color: #25A9EE;
}
.doc-details .doc-meta .td {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.doc-details .dl {
  margin: 10px 0;
}
.doc-details .dt {
  height: 36px;
  line-height: 36px;
  font-size: 0;
}
.doc-details .dt em {
  display: inline-block;
  height: 36px;
  background: #19364A;
  border-left: 3px solid #25A9EE;
  padding: 0 15px;
  font-size: 16px;
}
.doc-details .dt:after {
  content: "";
  display: inline-block;
  vertical-align: top;
  border: 18px dashed transparent;
  border-left-color: #19364A;
  border-bottom-color: #19364A;
}
.doc-details .dd {
  margin: 15px 0;
}
.doc-tree .tt {
  background: rgba(215, 223, 241, 0.1);
  line-height: 36px;
  padding: 0 15px;
}
.doc-tree .list {
  background: rgba(215, 223, 241, 0.05);
  padding: 10px;
}
.doc-tree .list .ul {
  margin: 5px 0;
}
.doc-tree .list .li {
  display: block;
  padding-left: 18px;
  position: relative;
  margin: 5px 0;
}
.doc-tree .list .li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: #5E6A73;
}
.doc-tree .list .li:after {
  content: "";
  position: absolute;
  left: 3px;
  top: -12px;
  border-left: 1px solid #5E6A73;
  height: 20px;
}
.doc-tree .list .li:first-child:after {
  border-left: none;
}
.doc-tree .list .li.on {
  color: #25A9EE;
}
.doc-tree .list .li.on:before {
  background: #25A9EE;
}
/**/
.home-search {
  height: 60px;
}
.home-search .search-box {
  width: 450px;
  height: 38px;
  background: #FFF;
  padding: 1px;
  margin: 0 auto;
  font-size: 0;
}
.home-search .search-box .select {
  color: #4D566C;
  vertical-align: middle;
  width: 108px;
  min-width: 100px;
}
.home-search .search-box .ipt {
  border-left: 1px solid #A2A5AB;
  vertical-align: middle;
  width: 260px;
  height: 30px;
  line-height: 30px;
  outline: none;
  color: #4D566C;
}
.home-search .search-box .btn {
  float: right;
  vertical-align: middle;
}
.home-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.home-wrap .left {
  width: 280px;
}
.home-wrap .right {
  width: 280px;
}
.home-wrap .home-main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  position: relative;
}
.home-wrap .home-main .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.home-wrap .home-main .title .count {
  font-size: 36px;
}
.home-wrap .map-box {
  height: 650px;
}
.home-wrap .footer {
  text-align: center;
  color: rgba(245, 245, 245, 0.2);
}
/**/
.select-event .change {
  margin-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/*图谱*/
#relativeChart .hide{ opacity: 0.2;}
#relativeChart .active{ opacity: 1; cursor: pointer;}
#relativeChart .g_links .active{ opacity: 1; stroke:rgba(255, 255, 255, 1)!important; stroke-width:1px!important;}
.g_box{ position: relative;}
[data-mark="hiddentext"] text{ opacity: 0;}
#relativeChart [data-mark="hiddentext"] .hide{ opacity: 0;}
#relativeChart [data-mark="hiddentext"] .active{ opacity: 1;}

.foot{ padding-bottom: 20px;}
.doc-details{ line-height: 30px;}


/*覆盖mtui.css*/
.mt-popup .mt-popup-h1,
.mt-btn-blue, .mt-btn-round-blue{background: #28A6E9 ; border-radius: 0;}
#modalTest{ color: #333;}

/*弹窗时间轴*/
.modal-timeline{ height: 360px; overflow: auto;}
.modal-timeline ul{ margin-left: 30px; border-left: 1px solid #ccc; padding-bottom: 30px;}
.modal-timeline li{ border-bottom: 1px solid #ccc; padding-top: 21px; padding-left: -1px;}
.modal-timeline .date{display: inline-block; padding: 2px 5px; border: 1px solid #ccc; border-left:none;}
.modal-timeline .info{position: relative; padding: 10px 0;}
.modal-timeline .mark{ position: absolute; background: #19364A; color: #fff; padding: 2px 5px; font-size: 12px;}
.modal-timeline h5{margin-left: 40px;}
.modal-timeline .tips{margin-left: 40px; font-size: 12px; color: #999; margin-top: 5px}
.modal-timeline .tips span{ margin-right: 5px;}
.modal-timeline .tips span.k{border: 1px solid #ccc; padding: 1px 2px;}

/*筛选，隐藏更多*/
.ddMax{ overflow: hidden;}
.ddMax-btn{ position: absolute; right: 20px; top: 10px; display: -none; z-index: 100;}

.canCompareBtn{ position: absolute; right: 10px; top: 8px;}
#modalCompare .mt-dialog-content{ height: 460px; overflow: auto;}