/*侧面菜单*/
.leftmenu{ position: fixed; z-index: 1000; width:160px; top: 60px; left: 0; bottom: 0; background: #313A49; box-shadow:3px 0 8px rgba(39, 55, 71, 0.3);}
.leftmenu .menu{ padding: 0;}
.leftmenu .sub-menu{ padding: 0; margin-left: 10px;}
.leftmenu li{ line-height: 40px; text-indent: 20px;}
.leftmenu li a{ color: #fff; display: block;}
.leftmenu li .active{ background: #FF6262;}
.leftmenu li .sub-menu li{ line-height: 30px; margin: 5px;}
.leftmenu li .sub-menu a{ color: #999; border-left:4px solid #313A49;}
.leftmenu li .sub-menu .active{ background: #313A49; border-left:4px solid #999;} 

/*插件库*/
.component{ margin-left:160px;} 
.component .contents a{ margin-right: 10px;} 
.component .contents .mt-date a{ margin-right: 0;} 

.animated{-webkit-animation-duration: 0.3s; animation-duration: 0.3s;}